@page "/profesores"
@using PaginaCursos.Shared.Entities
@using PaginaCursos.WEB.Repositories
@using PaginaCursos.WEB.Shared
@inject IRepository repository
@inject SweetAlertService SweetAlertService
@inject NavigationManager navigationManager


<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-person" /> Profesores
            <a class="btn btn-primary btn-sm float-end" href="/profesores/create"><i class="bi bi-plus-circle" />Nuevo Profesor</a>

        </span>
    </div>

    <div class="card-body">
        <GenericList MyList="Profesores">
            <Body>
                <div class="align-items-center">
                </div>


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>Id-Profesor</b>
                            </td>
                            <td>
                                <b>Documento del profesor</b>
                            </td>
                            <td>
                                <b>Nombre del profesor</b>
                            </td>
                            <td>
                                <b>Apellido del profesor</b>
                            </td>
                            <td>
                                <b>Correo Electronico</b>
                            </td>
                            <td>
                                <b>Nombre Completo</b>
                            </td>
                        </tr>
                        @foreach (var item in Profesores!)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Documento</td>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido</td>
                                <td>@item.CorreoElectronico</td>
                                <td>@item.Nombre_Completo</td>


                                <td>
                                    <a href="/profesores/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsync(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </Body>
        </GenericList>
    </div>
</div>
@code {
    public List<Profesor> Profesores { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Profesor>>("api/profesores");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Profesores = responseHttp.Response;
    }

    private async Task DeleteAsync(Profesor profesor)
    {
        var result = await SweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el profesor: {profesor.Nombre}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Profesor>($"api/profesores/{profesor.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/profesores");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await SweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = SweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000

            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con exito");
    }

}



